altgraph
annotated-types
anyio
attrs
certifi
cffi
contourpy
cycler
fake-bpy-module-latest
fastapi
fonttools
future
glcontext
greenlet
h11
idna
iso8601
kiwisolver
matplotlib
moderngl
mysql-connector-python
numpy
outcome
packaging
pandas
pefile
pillow
pycparser
pydantic
pydantic_core
pygame
pyinstaller
pyinstaller-hooks-contrib
PyOpenGL
pyparsing
PySide6
PySide6_Addons
PySide6_Essentials
PySocks
python-dateutil
pytz
pywin32-ctypes
PyYAML
seaborn
selenium
serial
setuptools
shiboken6
six
sniffio
sortedcontainers
SQLAlchemy
sqlmodel
starlette
trio
trio-websocket
typing_extensions
tzdata
unity
urllib3
websocket-client
wsproto
